/* ----- flying in space ----- */

#intro {
    background: url(img/stars.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #3C3443;
}

#intro p {
    margin: 0;
}

#flyingspace {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* ----- ucsf benioff ----- */

#ucsf {
    float: right;
    position: relative;
    top: -1em;
    width: 200px;
    max-width: 30%!important;
}
#ucsf-spacer {
    float: left;
    position: relative;
    top: -1em;
    width: 200px;
    aspect-ratio: 1.4;
    max-width: 30%!important;
}

/* ----- raffle ----- */

#nfts {
    width: 75%;
    aspect-ratio: 1.25;
}

#nft-instruction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#nft-instruction > div {
    padding: 0 10px;
}

#nft-instruction i {
    font-size: 100px;
}

/* ----- countdown ----- */

#countdown h4 {
    line-height: normal;
}

@media only screen and (max-width: 767px) {
    #countdown h4 {
        clear: both;
    }
}

#raised-top {
    font-style: italic;
}

/* ----- pictures ----- */
.picture {
    margin: 10px;
    width: 270px;
    float: right;
    border: 1px white solid;
    padding: 10px;
    text-align: center;
    font-size: 80%;
    border-radius: 10px;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.15)
}

.picture-right {
    float: right;
}


/* ----- buttons ----- */

.button-donate {
    -moz-box-shadow: inset 0px 1px 0px 0px #1edafc;
    -webkit-box-shadow: inset 0px 1px 0px 0px #1edafc;
    box-shadow: inset 0px 1px 0px 0px #1edafc;
    background-color: #1AC1DD;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
    text-indent: 0;
    border: 1px solid #18aec9;
    display: inline-block;
    color: #ffffff;
    font-family: "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    line-height: 50px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px #146275;
}

.button-donate.green {
    -moz-box-shadow: inset 0px 1px 0px 0px #6cdd6c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #6cdd6c;
    box-shadow: inset 0px 1px 0px 0px #6cdd6c;
    background-color: #62C462;
    border: 1px solid #4b944b;
    text-shadow: 0px 1px 0px #478f47;
}

.button-donate.green:hover {
    background-color: #56aa56;
}

.button-donate.purple {
    -moz-box-shadow: inset 0px 1px 0px 0px #856cdd;
    -webkit-box-shadow: inset 0px 1px 0px 0px #856cdd;
    box-shadow: inset 0px 1px 0px 0px #856cdd;
    background-color: #925cf7;
    border: 1px solid #4b5094;
    text-shadow: 0px 1px 0px #474c8f;
    width: 225px;
}

.button-donate.purple:hover {
    background-color: #794acf;
}

.button-donate.long {
    width: 500px;
}

.button-donate:hover {
    background-color: #15a1b9;
}

.button-donate:active {
    position: relative;
    top: 1px;
}


/* ----- pictures ----- */

.game-list img {
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
}

/* ----- twitch ----- */

.twitch-window {
    display: none;
}

.twitch-buffer {
    margin-top: 10px;
    margin-bottom: 15em;
}

/* ----- icons ----- */

.circle-img-2x {
    width: 50%;
}

.circle-img img {
    width: 300px;
    height: 300px;
    padding: 1em;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.circle-img em {
    display: block;
    font-size: 75%;
    line-height: 1em;
    padding: 0 10px;
}

@media only screen and (max-width: 767px) {
    .circle-img img {
        width: 175px;
        height: 175px;
    }
}

/* ----- donation ----- */

#donation-bar {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#donation-bar .ui-progressbar {
    background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 40px;
    overflow: hidden;
    flex: auto;
    min-width: 250px;
}

#donation-bar .ui-progressbar-value {
    -moz-box-sizing: border-box;
    background-color: #62C462;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 45px 45px;
    height: 45px;
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#donation-bar .progress-value {
    font-family: "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    color: white;
}

#donation-bar .progress-perc {
    position: absolute;
    font-family: "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
    font-size: 25px;
    padding: 10px;
    color: white;
}

#donation-button {
    padding: 10px;
}

#donation-box {
    display: flex;
    align-items: stretch;
}